In [1]:
import pandas as pd 
import numpy as np

In [2]:
full_data = pd.ExcelFile(r"C:\Users\solat\Downloads\online+retail+ii\online_retail_II.xlsx")
full_data

In [3]:
sheets = full_data.sheet_names

In [4]:
total_sheets = len(sheets)
total_sheets

2

In [5]:
sheet_1_data = full_data.parse(0)
len(sheet_1_data)

525461

In [6]:
sheet_1_data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [7]:
two_percent_data = sheet_1_data.sample(frac=0.02)
len(two_percent_data)

10509

In [8]:
two_percent_data.isna().sum()

Invoice           0
StockCode         0
Description      56
Quantity          0
InvoiceDate       0
Price             0
Customer ID    2126
Country           0
dtype: int64

In [14]:
# two_percent_data.to_csv("two_percent_data_file",index=False)

In [33]:
data = pd.read_csv(r"D:\Faisal\Projects\car__123\dataset\two_percent_data_file")
data.shape

(10509, 8)

In [34]:
df_two_per = data.copy()
df_two_per.shape

(10509, 8)

In [35]:
df_two_per.isna().sum()

Invoice           0
StockCode         0
Description      57
Quantity          0
InvoiceDate       0
Price             0
Customer ID    2194
Country           0
dtype: int64

In [36]:
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 500)

In [37]:
df_two_per.head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,537769,72802C,VANILLA SCENT CANDLE JEWELLED BOX,1,2010-12-08 12:17:00,4.25,15021.0,United Kingdom
1,502230,22481,BLACK TEA TOWEL CLASSIC DESIGN,4,2010-03-23 12:13:00,1.25,14596.0,United Kingdom
2,537421,22867,HAND WARMER BIRD DESIGN,2,2010-12-06 15:25:00,2.10,17218.0,United Kingdom
3,498757,47505,MINATURE COLOURED GARDENING SET,1,2010-02-22 16:49:00,4.95,14030.0,United Kingdom
4,532350,21827,EIGHT PIECE CREEPY CRAWLIE SET,1,2010-11-11 16:27:00,1.25,15998.0,United Kingdom
5,512289,21932,SCANDINAVIAN PAISLEY PICNIC BAG,1,2010-06-14 14:49:00,5.91,NaN,United Kingdom
6,532478,22151,PLACE SETTING WHITE HEART,48,2010-11-12 11:43:00,0.42,15681.0,United Kingdom
7,536876,21481,FAWN BLUE HOT WATER BOTTLE,1,2010-12-03 11:36:00,5.91,NaN,United Kingdom
8,519611,21181,PLEASE ONE PERSON METAL SIGN,20,2010-08-18 17:30:00,2.10,16984.0,United Kingdom
9,491714,84993A,75 GREEN PETIT FOUR CASES,2,2009-12-13 15:38:00,0.42,16409.0,United Kingdom

In [38]:
df_two_per.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [39]:
df_two_per.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,537769,72802C,VANILLA SCENT CANDLE JEWELLED BOX,1,2010-12-08 12:17:00,4.25,15021.0,United Kingdom
1,502230,22481,BLACK TEA TOWEL CLASSIC DESIGN,4,2010-03-23 12:13:00,1.25,14596.0,United Kingdom
2,537421,22867,HAND WARMER BIRD DESIGN,2,2010-12-06 15:25:00,2.10,17218.0,United Kingdom
3,498757,47505,MINATURE COLOURED GARDENING SET,1,2010-02-22 16:49:00,4.95,14030.0,United Kingdom
4,532350,21827,EIGHT PIECE CREEPY CRAWLIE SET,1,2010-11-11 16:27:00,1.25,15998.0,United Kingdom

In [40]:
cat_cols_df = df_two_per.select_dtypes(include = "object")
cat_cols_df

,Invoice,StockCode,Description,InvoiceDate,Country
0,537769,72802C,VANILLA SCENT CANDLE JEWELLED BOX,2010-12-08 12:17:00,United Kingdom
1,502230,22481,BLACK TEA TOWEL CLASSIC DESIGN,2010-03-23 12:13:00,United Kingdom
2,537421,22867,HAND WARMER BIRD DESIGN,2010-12-06 15:25:00,United Kingdom
3,498757,47505,MINATURE COLOURED GARDENING SET,2010-02-22 16:49:00,United Kingdom
4,532350,21827,EIGHT PIECE CREEPY CRAWLIE SET,2010-11-11 16:27:00,United Kingdom
...,...,...,...,...,...
10504,519392,22380,TOY TIDY SPACEBOY,2010-08-16 14:49:00,United Kingdom
10505,523422,22367,CHILDRENS APRON SPACEBOY DESIGN,2010-09-22 10:10:00,United Kingdom
10506,499038,85232B,SET/3 RUSSIAN DOLL STACKING TINS,2010-02-24 13:15:00,United Kingdom
10507,493183,84997D,PINK 3 PIECE MINI DOTS CUTLERY SET,2009-12-22 12:03:00,Austria
10508,492942,82494L,WOODEN FRAME ANTIQUE WHITE,2009-12-21 12:38:00,United Kingdom

In [41]:
num_cols_df = df_two_per.select_dtypes(exclude="object")
num_cols_df

       Quantity  Price  Customer ID
0             1   4.25      15021.0
1             4   1.25      14596.0
2             2   2.10      17218.0
3             1   4.95      14030.0
4             1   1.25      15998.0
...         ...    ...          ...
10504         5   2.10      16625.0
10505         8   1.65      17850.0
10506         4   4.95      15768.0
10507        12   3.75      12440.0
10508         6   2.95      17213.0

[10509 rows x 3 columns]

In [42]:
df_two_per.dtypes

Invoice         object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
Price          float64
Customer ID    float64
Country         object
dtype: object

In [43]:
df_two_per.head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,537769,72802C,VANILLA SCENT CANDLE JEWELLED BOX,1,2010-12-08 12:17:00,4.25,15021.0,United Kingdom
1,502230,22481,BLACK TEA TOWEL CLASSIC DESIGN,4,2010-03-23 12:13:00,1.25,14596.0,United Kingdom
2,537421,22867,HAND WARMER BIRD DESIGN,2,2010-12-06 15:25:00,2.10,17218.0,United Kingdom
3,498757,47505,MINATURE COLOURED GARDENING SET,1,2010-02-22 16:49:00,4.95,14030.0,United Kingdom
4,532350,21827,EIGHT PIECE CREEPY CRAWLIE SET,1,2010-11-11 16:27:00,1.25,15998.0,United Kingdom
5,512289,21932,SCANDINAVIAN PAISLEY PICNIC BAG,1,2010-06-14 14:49:00,5.91,NaN,United Kingdom
6,532478,22151,PLACE SETTING WHITE HEART,48,2010-11-12 11:43:00,0.42,15681.0,United Kingdom
7,536876,21481,FAWN BLUE HOT WATER BOTTLE,1,2010-12-03 11:36:00,5.91,NaN,United Kingdom
8,519611,21181,PLEASE ONE PERSON METAL SIGN,20,2010-08-18 17:30:00,2.10,16984.0,United Kingdom
9,491714,84993A,75 GREEN PETIT FOUR CASES,2,2009-12-13 15:38:00,0.42,16409.0,United Kingdom

In [44]:
df_two_per.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10509 entries, 0 to 10508
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      10509 non-null  object
 1   StockCode    10509 non-null  object
 2   Description  10452 non-null  object
 3   Quantity     10509 non-null  int64
 4   InvoiceDate  10509 non-null  object
 5   Price        10509 non-null  float64
 6   Customer ID  8315 non-null   float64
 7   Country      10509 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 656.9+ KB

In [45]:
def get_nunique():
    for i in df_two_per.columns:
        uni = df_two_per[i].nunique()
        print(f"{i} has : {uni} unique values")
get_nunique()

Invoice has : 6628 unique values
StockCode has : 2531 unique values
Description has : 2650 unique values
Quantity has : 140 unique values
InvoiceDate has : 6470 unique values
Price has : 231 unique values
Customer ID has : 2482 unique values
Country has : 34 unique values

In [46]:
for key, val in df_two_per.items():
    if pd.api.types.is_string_dtype(val):
        print(f"{key} has : {df_two_per[key].nunique()} unique values")

Invoice has : 6628 unique values
StockCode has : 2531 unique values
InvoiceDate has : 6470 unique values
Country has : 34 unique values

In [47]:
df_two_per["Description"].dtype

dtype('O')

In [48]:
cat_cols_df.columns

Index(['Invoice', 'StockCode', 'Description', 'InvoiceDate', 'Country'], dtype='object')