In [2]:
import pandas as pd 
import numpy as np

In [22]:
online_data = pd.ExcelFile(r"C:\Users\solat\Downloads\online+retail+ii\online_retail_II.xlsx")
online_data

In [25]:
df_sheet1 = online_data.parse(0) # by using parse we are getting single sheets 
df_sheet1

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [26]:
df_sheet2 = online_data.parse(1)

In [29]:
df_ten_percent = df_sheet1.sample(frac=0.01)
df_ten_percent.shape

(5255, 8)

In [30]:
df_ten_percent

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
199564,508506,21122,SET/10 PINK SPOTTY PARTY CANDLES,1,2010-05-16 16:21:00,1.25,13230.0,United Kingdom
72489,495951,85123A,WHITE HANGING HEART T-LIGHT HOLDER,3,2010-01-27 17:44:00,5.91,NaN,United Kingdom
50602,494016,84356,POMPOM CURTAIN,1,2010-01-11 09:35:00,20.83,NaN,United Kingdom
439656,531371,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,1,2010-11-07 15:31:00,7.95,12867.0,United Kingdom
461987,533065,22367,CHILDRENS APRON SPACEBOY DESIGN,1,2010-11-15 17:04:00,4.21,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
364318,524701,21080,SET/20 RED RETROSPOT PAPER NAPKINS,12,2010-09-30 12:19:00,0.85,17667.0,United Kingdom
204964,509165,21845,DAIRY MAID STRIPE MUG,6,2010-05-20 14:06:00,2.95,15559.0,United Kingdom
461200,533000,22382,LUNCH BAG SPACEBOY DESIGN,1,2010-11-15 14:49:00,1.65,16686.0,United Kingdom
184793,506983,22053,EMPIRE DESIGN ROSETTE,1,2010-05-05 13:22:00,1.25,NaN,United Kingdom
407149,528377,84558A,3D DOG PICTURE PLAYING CARDS,1,2010-10-21 17:38:00,2.95,15998.0,United Kingdom

In [31]:
df_ten_percent.isna().sum()

Invoice           0
StockCode         0
Description      23
Quantity          0
InvoiceDate       0
Price             0
Customer ID    1062
Country           0
dtype: int64

In [32]:
df_ten_percent["Customer ID"].nunique()

1817

In [33]:
df_ten_percent.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object

In [34]:
df_ten_percent["StockCode"].str.isalpha()

199564      NaN
72489     False
50602       NaN
439656      NaN
461987      NaN
          ...
364318      NaN
204964      NaN
461200      NaN
184793      NaN
407149    False
Name: StockCode, Length: 5255, dtype: object